<div
  class="modal fade"
  id="modal-simpan-bill"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center py-1">
        <h5 class="modal-title" id="modal-title-bayar">Simpan Bill</h5>
      </div>
      <div class="modal-body px-4 py-4 mb-5">
        <div class="mb-3 text-center">
          <label for="input-bill" class="form-label fw-bold fs-4"
            >Simpan sebagai</label
          >
          <input
            type="text"
            class="form-control fs-5 text-center"
            id="input-bill"
            placeholder="Simpan Sebagai"
          />
        </div>
        <div class="row">
          <div class="col-6 d-flex">
            <button class="w-100 btn btn-outline-dark" data-bs-dismiss="modal">
              Batal
            </button>
          </div>
          <div class="col-6 d-flex">
            <button class="w-100 btn btn-dark" id="btn-simpan-bill">
              Simpan
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
