<div class="modal fade" id="modal-list-bill" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-between">
                <button type="button" class="btn btn-outline-secondary py-2" data-bs-dismiss="modal">Batal</button>
                <h5 class="modal-title" id="modal-title-bayar">Daftar Bill</h5>
                <div></div>
            </div>
            <div class="modal-body px-4 py-4 mb-5">
                <table class="table table-hover">
                    <tbody id="list-bill">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>