<div
  class="modal fade"
  id="modal-transaction-successfull"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center">
        <h5 class="modal-title text">Transaksi berhasil</h5>
      </div>
      <div class="modal-body px-4 py-4 mb-5 text-center">
        <span class="fw-bold fs-4" id="method_">Tunai</span><br />
        <span class="fs-4" id="payment_">Rp 10.000</span><br />
        <span class="fs-3 fw-bold" id="change_">Kembali Rp. 0</span><br />
        <i class="bi-check-circle" style="font-size: 72px"></i><br />
        <button class="btn btn-dark text-center" id="print-nota-transaksi">
          <i class="bi-printer"></i> Print
        </button>
        <button
          class="btn btn-outline-dark text-center"
          data-bs-dismiss="modal"
          onclick="transaksiBaru()"
        >
          Transaksi Baru
        </button>
      </div>
    </div>
  </div>
</div>
